extends ../layout.jade
block contenido
    div(id="imagenes")
            //p Hola #{user.email}
            h1.text-center Galeria de imagenes
                section#galeria
                    .container.p-4
                        .card-columns
                            for imagen in imagenes
                                    .card.border-0
                                        a(href="/app/imagenes/#{imagen._id}")
                                            //h4= imagen.title
                                            img.card-img-top.img-ts.img-fluid(src="/public/imagenes/#{imagen._id}.#{imagen.extension}")
                                            if(typeof imagen.creator != "undefined")
                                                //p Por #{imagen.creator.email}    

    script(id="image-template" type="text/x-handlebars-template")
        div(class="img-container")
            a(href="/app/imagenes/{{id}}")
                h4 {{title}}
            img(src="/public/imagenes/{{id}}.{{extension}}", class="main-img")
    script(src="/public/js/client.js")          